<form action="#" id="saveCollection" role="form" class="form-inline">
  <div class="form-group">
  <select name="saveTo"   class="form-control">
    <option value="">No Item Collection</option>
    <option value="new">New Item Collection</option>
  </select>
  </div>
  
  <div class="form-group">
    <div class="input-group">
      <input type="text" name="collectionName" value="" class="form-control" placeholder="Collection Name">
      <span class="input-group-btn">
        <input type="submit" value="Save" name="submitgo" class="btn btn-default" />
      </span>
    </div>
  </div>

</form>
