      <form action="#" id="searchItems" role="form" class="form-inline">
      
      <div class="form-group">
        <label for="platform-twitter-option"><input type="checkbox" name="platform-twitter" value="1" id="platform-twitter-option"> Twitter</label>
        <label for="platform-facebook-option"><input type="checkbox" name="platform-facebook" value="1" id="platform-facebook-option"> Facebook</label>
        <label for="platform-googleplus-option"><input type="checkbox" name="platform-googleplus" value="1" id="platform-googleplus-option"> Google+</label>
        <label for="platform-www-option"><input type="checkbox" name="platform-www" value="1" id="platform-www-option"> General Web capture</label>
      </div>


      <div class="form-group">
        <div class="input-group">
          <input type="text" name="q" value="" class="form-control" placeholder="username or search term">
          <span class="input-group-btn">
            <input type="submit" value="Go" name="submitgo" class="btn btn-default" />
          </span>
        </div>
      </div>
    
    </form>
