<form action="#" id="collectForm">
  
<div style="padding:0 10px;display:inline-block; width:200px; text-align:right;">
  <label for="channel-search">Do a search</label>
  <input type="radio" name="channel" value="search" id="channel-search" checked="checked">
  
  <div>or <label for="channel-user">List user's posts</label>
  <input type="radio" name="channel" value="user" id="channel-user">
  </div>

</div>

<label for="platform">on</label>
  <select name="platform" id="platform">
    <option value="twitter">Twitter</option>
    <option value="facebook">Facebook</option>
    <option value="googleplus">Google+</option>
  </select> 

for
  <input type="text" name="q" value="" placeholder="username or search term">

  


  <input type="submit" name="submit" value="go">


</form>


<h3>Results</h3>

<div id="results">
  
  
</div>