<form action="#">
  <select name="platform" id="platform">
    <option value="twitter">Twitter</option>
    <option value="facebook">Facebook</option>
    <option value="googleplus">Google+</option>
  </select> 

  <input type="text" name="q" value="">

  <label for="channel-search">Platform Search</label>
  <input type="radio" name="channel" value="search" id="channel-search">

  <label for="channel-user">Specific user or facebook page</label>
  <input type="radio" name="channel" value="user" id="channel-user">



  <input type="submit" name="submit" value="go">


</form>


<h3>Results</h3>

<div id="results">
  
  
</div>