.list-group-item{
  margin: 2px 0;
  cursor: move;
}

.reply{ 
  margin-left: 20px;
  border-left:1px dashed #999;
}

.dd-panels {
  margin: 10px 0;
}

.save-btn{
   background-image:url(../img/star.png);
   background-repeat:no-repeat;
   width:16px;
   height:16px;
   text-indent:-9999px;
   display:block;
   position:absolute;
   top:4px;
   right:4px;


}

.list-group-item-success  .save-btn{
  background-position: bottom;
  
}


.selected-panel{
  height:100%;
  overflow:auto;
  
  .save-btn{
     background-position: bottom;
  }

}

.list-group-item-success {
  border-color: #d6e9c6;
  // color: #468847;
  // background-color: #dff0d8;
}

.form-group{
  margin: 10px 0;
}

#search-options-facebook, #search-options-googleplus{
  display:none;
}