<div id="collect-items">


<div class="row">
  <div class="col-md-12">
  <p>Find items on the web.</p>
</div>
</div>


{{!-- the results --}}
<div class="row">
  <div class="col-xs-6 ">
  {{!-- <h4 class="step one">1. Search for your saved items</h4>   --}}
    {{!-- the search form --}}
  <div class="search-panel ">
    
  </div>
{{!-- /the search form --}}
  {{!-- <h4 class="step two">2. Add items to the collection</h4> --}}
    
  </div>

  <div class="col-xs-6">
    {{!-- <h4 class="step three">3. Give the collection a name and save it</h4> --}}
    <div class="save-panel">

    </div>
    
  </div>
</div>


<div class="row dd-panels">
  <div class="col-xs-6"><div class="results-panel  well  well-sm"></div></div>
  <div class="col-xs-6"><div class="selected-panel well  well-sm"></div></div>
</div>


{{!-- /the results --}}

</div>