<form action='#' id="resultsForm">
<h3>Results</h3>
<div class="form-group">
  <input type="submit" class="btn btn-default" value="Save selected" data-loading-text="Saving..." class="btn btn-primary" id="save-items-btn" />
</div>
<div id="collect-items-results">
  
  
</div>
</form>