<form action="#" id="collectForm" role="form" class="form-inline">
  <div class="form-group">
    <div class="checkbox">
      <label for="channel-search">
        <input type="radio" name="channel" value="search" id="channel-search" checked="checked"> search all ||
      </label>
      <label for="channel-user">
        <input type="radio" name="channel" value="user" id="channel-user"> user's posts
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <select name="platform" id="platform"  class="form-control">
    <option value="twitter">Twitter</option>
    <option value="facebook">Facebook</option>
    <option value="googleplus">Google+</option>
  </select> 
</div>


<div class="form-group">

  <div class="input-group">
    <input type="text" name="q" value="" class="form-control" placeholder="username or search term">
    <span class="input-group-btn">
      <input type="submit" value="Go" name="submitgo" class="btn btn-default" />
    </span>
  </div>
</div>

</form>